<div class="container">
  <div class="jumbotron">
    <center><h1>Welcome</h1></center>
    <p>...</p>
  </div>
  <!-- <h3><%= @user.name %></h3> -->
  <div>
    <%= image_tag @user.avatar.url(:medium) %>
  </div>

  <div>
  <h1><%= @user.name %></h1>
  <h3 style="color:gray">Number of dives: TBD<% %></h3>
  <h3 style="color:gray">Max Depth: TBD<% %></h3>

  <%= link_to "Edit", edit_user_path %> |
  <%= link_to "Delete", user_path, method: :delete, data: {
    confirm: "Are you sure you want to delete this user?"} %> |
  <%= link_to "Dive Log", dives_path %> |
  <%= link_to "Back", 'javascript:history.go(-1);' %>
  </div>
</div>
